#container {
    margin: 0;
    width: 1000px;
    box-shadow: 1px 1px 6px;
}

header {
    background-color: antiquewhite;
    padding: 10px;
}

nav a{
    color: whitesmoke;
    text-decoration: none;
    margin: O 30px;
}

nav, footer{
    height: 30px;
    background-color: #ad5389;
}

section {
    padding: 20px;
}